<h1 class="m-5">Iniciar Sesión</h1>
<form [formGroup]="form" class="m-5" (ngSubmit)="onEnviar($event)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input [ngClass]="{'is-invalid': Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched}" type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div *ngIf="Email?.errors && Email?.touched">
        <p *ngIf="Email?.hasError('required')" class="text-danger">
          el email es requerido.
        </p>
        <p *ngIf="Email?.hasError('email')" class="text-danger">
          El formato del emial debe ser valido
        </p>
      </div>
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}" type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
      <div *ngIf="Password?.errors && Password?.touched">
        <p *ngIf="Password?.hasError('required')" class="text-danger">
          La Contraseña es requerida
        </p>
        <p *ngIf="Password?.hasError('minlength')" class="text-danger">
          La Contraseña debe ser de 8 o màs caracteres.
        </p>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>